/* PAGE */

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

html::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

body {
  background-color: #282c34;
}

.row {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0rem;
  padding: 0rem;
  background: #282c34;
  font-family: "Cormorant Garamond", serif;
}
