/* PAGE */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  background-color: #282c34;
}

html::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

body {
  background-color: #282c34;
}

.row {
  min-height: 100vh;
  width: 100vw;
  padding: 0rem;
  margin: 0rem;
  overflow-x: hidden;
  background: #282c34;
}

.delay-1s {
  animation-delay: 1s !important;
}

.delay-0.75s {
  animation-delay: 0.75s !important;
}

/* FONT */

p {
  font-family: "Cormorant Garamond", serif;
}

.fs-m {
  font-size: 2rem;
}

.fs-s {
  font-size: 1rem;
}

/* COLOR */

.white {
  color: #ffffff;
}

.slate {
  color: #282c34;
}

.pink {
  color: #d9c2ba;
}

/* ANIMATIONS */

.delay-1s {
  animation-delay: 1s !important;
}
