.bar-container {
  background: #282c34;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0rem 2rem !important;
}

.bar-lines {
  width: 100%;
}

.bar-lines hr {
  height: 2px;
  margin: 0.5rem 0rem;
  background: #d9c2ba;
  border: none;
  border-radius: 2px;
}

.bar-buttons {
  display: flex;
  margin-left: 1rem;
}

.bar-buttons button {
  margin: 0.5rem;
  padding: 0;
  height: 1rem;
  width: 1rem;
  border: 0.125rem solid #d9c2ba;
  border-radius: 50%;
  background-color: #282c34;
}

.bar-buttons .bar-buttons-selected {
  background-color: #d9c2ba;
}
