.bar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem !important;
}

.bar-lines {
  width: 100%;
}

.bar-lines hr {
  height: 2px;
  margin: 0.5rem 0rem;
  background: #d9c2ba;
  border: none;
  border-radius: 2px;
}
