.design {
  margin: 1rem 0rem;
}

.design-name {
  margin-bottom: 0.5rem !important;
}

.design-description {
  margin-bottom: 0.5rem !important;
}

.design a {
  transition: all 0.3s ease-in-out;
}

.design a:hover {
  font-size: 110%;
  color: #d9c2ba;
  text-decoration: none;
}
