.left {
  margin: 0 !important;
  padding: 4rem !important;
  color: #d9c2ba;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: green; */
  height: auto;
}

.slate {
  color: #ffffff;
  font-size: 2rem;
}

p {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
}
