.rightlanding {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.pages {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightlanding .pages button {
  padding: 0.5rem 1rem 0.5rem 16rem;
  margin: 0.5rem;
  border: none;
  text-align: right;
  font-family: "Cormorant Garamond", serif;
  white-space: nowrap;
  color: #ffffff;
  background: #282c34;
  transition: all 0.3s ease-in-out;
}

.rightlanding .pages button:hover {
  color: #282c34;
  background: none;
}

.rightlanding .pages a {
  padding: 0.5rem 1rem 0.5rem 16rem;
  margin: 0.5rem;
  border: none;
  text-align: right;
  font-family: "Cormorant Garamond", serif;
  white-space: nowrap;
  color: #ffffff;
  background: #282c34;
  transition: all 0.3s ease-in-out;
}

.rightlanding .pages a:hover {
  text-decoration: none;
  color: #282c34;
  background: none;
}

.rightlanding .pages button:focus {
  outline: none !important;
}
