.right {
  /* background-color: yellow; */
  height: auto;
  padding: 4rem 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 100%;
  padding: 1rem;
  border: 2px solid #d9c2ba;
  border-radius: 1.5rem;
}
