.website {
  margin: 1rem 0rem;
}

.website-name {
  margin-bottom: 0.5rem !important;
}

.website-description {
  margin-bottom: 0.5rem !important;
}

.website a {
  transition: all 0.3s ease-in-out;
}

.website a:hover {
  font-size: 110%;
  text-decoration: none;
  color: #d9c2ba;
}
