p {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
}

.left {
  /* flex: 1; */
  padding: 2rem !important;
  color: #d9c2ba;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-around;
  /* background-color: green; */
}

.slate {
  color: #282c34;
}
